# ==========================================
# POKER ATMOSPHERE ENVIRONMENT VARIABLES
# ==========================================

# Telegram Bot Token (@atmosphere_poker_dealer_bot)
DEALER_BOT_TOKEN=8946471319:AAHKuZK8hcgebOvuNyHi21o5tjlbU7S0hG8

# Firebase Realtime Database URL
FIREBASE_DB_URL=https://atmosphere-poker-default-rtdb.europe-west1.firebasedatabase.app
